
* {
   border: 1px solid red !important;
}

.wrapper{
	display:flex;
    border: 20px solid #e6e6e6;
    margin-left:250px;
}
.column-1{
    background-color:red;
	width:570px;
	height:640px;
	padding:30px;
}
.column-2{
	background-color: #6cc3e0;
	width:230px;
	height:700px;
}
.colum{
	color:white;
	background-color: #2487a8;
	height:180px;
	text-align:center;
}

.contact {
	margin-left:5px;
	color:white;
}
a {
	color:white;
	text-decoration: none;
	font-size: 20px;
	width: 20px;
}	

.fa {
	font-size: 20px;
	width: 20px;
	text-decoration: none;
}

.material-icons{
	font-size: 20px;
	width: 20px;
	color:white;
  }
