
body{

  background-color: #24292e

}
h1 {
    display: block;
    font-size: 4em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
   color: #FF9900;
}

h2, h4, h6 {
color:white;
}
p {
  color:white;
}
p.meta {
    color: white;
	}
p.deta{
   color:#FF9900;
   }

.flex-container {
   display: -webkit-flex; /* Safari */
   display: flex;
   flex-direction: row;
   }

   .flexbox-container > div {
   	width: 50%;
   	padding: 10px;
   }

   .flexbox-container > div:first-child {
   	margin-right: 20px;
   }
