
body{
  background-color: #24292e

}
h1 {
    display: block;
    font-size: 4em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
   color: #FF9900;
}

h2{
    color: white;
}
h4{
color:white;
}
H6{
color:white;
}
p.meta {
    color: white;
	}
p.deta{
   color:#FF9900;
   }