 {
   border: 1px solid red !important;
}

body{
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
}

.col-2{
	background-color:#262626;
}

a{
  color: white;
  text-decoration: none;
  padding: 10px;
}

a:hover {
    color: #FF9900;
}

.fa {
  text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
  color: white;
}

.loren {
  color:white;
  padding: 5px;
}

.col-10{
	background-color:#333333;
}

h1 {
    color: #FF9900;
    padding: 10px;
}

h2, h3, h4 ,h6 {
	color:white;
  padding: 10px;
}

.para{
  width: 600px;
  padding: 5px;
}

.first{
	color: white;
}

.second{
	color:#FF9900;
}

.flex-container {
	display: flex;
  padding: 5px;
	margin: 0;
	list-style: none;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	-webkit-flex-flow: row wrap;
}

.skillsbar{
  padding: 5px;
}

.container {
  background-color: #1a1a1a;
  width: 95%;
}

.skills {
	text-align: left;
	line-height: 40px;
	color: white;
}

.Portraits {width: 89%; background-color: #ffb84d;}
.Editorial {width: 95%; background-color: #ffb84d;}
.Fashion {width: 65%; background-color: #ffb84d;}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-tablet-1 {width: 8.33%;}
    .col-tablet-2 {width: 16.66%;}
    .col-tablet-3 {width: 25%;}
    .col-tablet-4 {width: 33.33%;}
    .col-tablet-5 {width: 41.66%;}
    .col-tablet-6 {width: 50%;}
    .col-tablet-7 {width: 58.33%;}
    .col-tablet-8 {width: 66.66%;}
    .col-tablet-9 {width: 75%;}
    .col-tablet-10 {width: 83.33%;}
    .col-tablet-11 {width: 91.66%;}
    .col-tablet-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
