body{
  font-family: Helvetica, sans-serif;
}

.background-pic{
  background-image: url(../images/chess-2730034__340.jpg);
  background-size: 1500px 800px;
  background-repeat: no-repeat;
  height: 400px;
  color: white;
}

.bar{
  color: #ff6666;
  margin-left: 20px;
}

.rayhan{
  text-align: center;
}
.one{
  width: 170px;
  color: #ff6666;
}

.hire{
 background-color: #ff6666;
 width: 100px;
 border-radius: 5px;
 margin-left: auto;
 margin-right: auto;
 padding-left: 15px;
 padding-right: 15px;
}

.about{
  display: flex;
  padding: 100px;
}

.two{
  color: #ff6666;
  width: 50px;
  margin-left: 1px;
}

img{
  margin-left: 400px;
}

h3{
  color: #ff6666;
}
.experience{
  color: white;
}

.black{
  color: black;
}

* {
    box-sizing: border-box;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 2px;
	margin-bottom: 200px;
	margin-top:15px;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
}

.container {
    padding: 10px 40px;
    position: relative;
    width: 50%;
}

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -14px;
    background-color: white;
    border: 2px solid black;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.right {
    left: 50%;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 17px 20px;
    border-color: transparent transparent transparent black;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 17px 20px 0;
    border-color: transparent black transparent transparent;
}

.right::after {
    left: -15px;
}

.content {
    padding: 20px 30px;
    background-color: black;
    position: relative;
    border-radius: 6px;
}

.skillsbar{
  background-image: url(../images/pexels-photo-193004.jpeg);
  color: white;
  padding: 70px;
  background-size: 1333px 600px;
  background-repeat: repeat;
  height: 600px;
}

.progress{
  display: flex;
}

.myProgress {
  width: 200px;
  background-color: white;
}

.bars{
  padding: 100px;
}
.myBar {
  width: 90%;
  height: 3px;
  background-color: #ff6666;;
  text-align: center;
  line-height: 30px;
  color: white;
}

.myBar2 {
  width: 98%;
  height: 3px;
  background-color: #ff6666;;
  text-align: center;
  line-height: 30px;
  color: white;
}

.myBar3 {
  width: 70%;
  height: 3px;
  background-color: #ff6666;;
  text-align: center;
  line-height: 30px;
  color: white;
}

.myBar4 {
  width: 90%;
  height: 3px;
  background-color: #ff6666;;
  text-align: center;
  line-height: 30px;
  color: white;
}

.myBar5 {
  width: 80%;
  height: 3px;
  background-color: #ff6666;;
  text-align: center;
  line-height: 30px;
  color: white;
}

.myBar6 {
  width: 96%;
  height: 3px;
  background-color: #ff6666;;
  text-align: center;
  line-height: 30px;
  color: white;
}

.myBar7 {
  width: 90%;
  height: 3px;
  background-color: #ff6666;;
  text-align: center;
  line-height: 30px;
  color: white;
}

.myBar8 {
  width: 80%;
  height: 3px;
  background-color: #ff6666;;
  text-align: center;
  line-height: 30px;
  color: white;
}

.myBar9 {
  width: 96%;
  height: 3px;
  background-color: #ff6666;;
  text-align: center;
  line-height: 30px;
  color: white;
}
