body{
	width: 600px;
	height: 1350px;
	margin-left: 400px;
	text-align: center;
	display: flex;
	flex-direction:column;
	border: 15px solid red;
}

.kelly{
	background-color: #33CCFF;
	color: white;
	text-align: center;
}

.fa {
	padding: 20px;
	width: 56px;
	text-align: center;
	text-decoration: none;
}

.fa-bars {
	background: gray;
	color: white;
}

.fa-xf0 {
	background: #33cc00;
	color: white;
}

.fa-list {
	background: #00ff00;
	color: white;
}

.fa-dribbble {
	background: #ea4c89;
	color: white;
}

.fa-twitter {
	background: #55ACEE;
	color: white;
}

.fa-facebook {
	background: #3B5998;
	color: white;
}

.employ{
	background-color: #f2f2f2;
	height: 60px;
}

h4{
	background-color: #33CCFF;
	width: 120px;
	text-align: center;
	margin-left: 220px;
}

.education{
	background-color: #f2f2f2;
	height: 60px;
	margin-top: 5px;
}

.wrapper{
	display: flex;
	padding: 5px;
}

.awesome{
	width: 195px;
	height: 300px;
	margin-left: 5px;
	text-align: center;
	background-color: #f2f2f2;
}

h5{
	background-color: #33CCFF;
	width: 90px;
	margin-left: 50px;
}

.fa-mobile {
	height: 10px;
	width: 10px;
	background: #33CCFF;
	color: white;
	border-radius: 50%;
}

.skill{
	height: 60px;
	background-color: #f2f2f2;
}

.skillsbar{
	display: flex;
	padding: 10px;
}

.gra{
	width:280px;
}

.container {
	width: 100%;
	background-color: #ddd;
}

.skills {
	text-align: center;
	line-height: 20px;
	color: white;
}

.adobe {
	width: 60%; background-color: #4CAF50;
	}
.adobe1 {
	width: 80%; background-color: #2196F3;
}
.adobe2 {
	width: 65%; background-color: #f44336;
}
.adobe3 {
	width: 60%; background-color: #808080;
}
.adobe4 {
	width: 80%; background-color: red;
}

.pro{
	width:280px;
	margin-left: 10px;
}

.html {
	width: 80%; background-color: #ff99ff;
	}
.css {
	width: 90%; background-color: #ffcc80;
}
.js {
	width: 75%; background-color: #00ff55;
}
.php {
	width: 96%; background-color: #808080;
}