* {
    box-sizing: border-box;
}



/* Responsive Web Design : Define GRID system (Mobile First Approach) and how would it behave based on the device size

 whenever row class is used, it clear floating style */
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
html {
    font-family: "Lucida Sans", sans-serif;
}
h1 {
    text-align: center;
}
.header {
    background-color: #9933cc;
    color: #ffffff;
    padding: 15px;

}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu li:hover {
    background-color: #0099cc;
}

/* If you have side in  your site  */
.aside {
    background-color: #33b5e5;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.footer {
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}

.color-first{
  background-color: red;
}
.color-second{
  background-color: green;
}
.color-third{
  background-color: blue
}
.color-fourth{
  background-color: yellow;
}

/*.flex-container{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;

}*/


.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background: tomato;
  padding: 5px;
  width: 60px;
  height: 45px;
  margin-top: 10px;
  line-height: 15px;
  color: white;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-tablet-1 {width: 8.33%;}
    .col-tablet-2 {width: 16.66%;}
    .col-tablet-3 {width: 25%;}
    .col-tablet-4 {width: 33.33%;}
    .col-tablet-5 {width: 41.66%;}
    .col-tablet-6 {width: 50%;}
    .col-tablet-7 {width: 58.33%;}
    .col-tablet-8 {width: 66.66%;}
    .col-tablet-9 {width: 75%;}
    .col-tablet-10 {width: 83.33%;}
    .col-tablet-11 {width: 91.66%;}
    .col-tablet-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}


/* The above rules are common for Any Responsive Web Design- Mobile First Approach */
