body{
	background-image: url(../images/Desert.jpg);	
}

.wrapper{
	display: flex;
	margin-left: 20%;
}

.nav{
	width: 150px;
}

a{ 
	background-color: #009999;
	display: block;
	color: white;
	text-align: center;	
	text-decoration: none;
}
		
.main{
	background-color: white;
	text-align: center;
	margin-left: 5px;
	width: 550px;
	height: 640px;
}

hr{
	width: 400px;
}

.fa {
	background: black;
	color: white;
	font-size: 30px;
	width: 30px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
}

footer{
    background-color: #009999;
	color: white;
    border-radius: 4px;
	width: 450px;
	margin-left: 45px;
}